@import "./constants/colors.scss";
.App {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  background-color: $quaternaryColor;
  align-items: center;
  background-repeat: no-repeat;
  .Background {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: 0;
    opacity: 50%;
  }
  div {
    z-index: 3;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    img {
      width: 200px;
      translate: 0px 50px;
    }
    h2 {
      font-family: $font0;
      color: $tertiaryColor;
      font-size: 4rem;
    }
    p {
      font-family: $font0;
      color: $tertiaryColor;
    }
  }
}
